@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(46, 125, 198);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
}
section {
    background-color: white;
    width: 500px;
    height: 450px;
    padding: 10px;
    box-shadow: 3px 2px 3px 3px rgb(85, 83, 83);
    margin: auto;
    display: block;
    border-radius: 10px;
}
img {
    padding: 50px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
}